@font-face {
  font-family: "Poppins-medium";
  src: url("../../Poppins/Poppins-Medium.ttf") format(truetype);
}
@font-face {
  font-family: "Poppins-semi-bold";
  src: url("../../Poppins/Poppins-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Poppins-thin";
  src: url("../../Poppins/Poppins-Thin.ttf") format(truetype);
}
.section3 .section3_box, .section3, .section2 span, .section2 .section2_box, .section2, .section1 .section1_item1 .section1_item1-box1, .section1 {
  display: flex;
  align-items: center;
}

.section1 {
  width: 100%;
  background-color: #1F2E35;
  padding: 35px 15px;
  gap: 50px;
  justify-content: center;
}
.section1 .section1_item1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section1 .section1_item1 h1 {
  max-width: 350px;
  color: #fff;
  font-family: "Poppins-medium", sans-serif;
  font-size: 30px;
}
.section1 .section1_item1 p {
  color: #fff;
  font-family: "Poppins-thin", sans-serif;
  font-size: 18px;
  max-width: 450px;
}
.section1 .section1_item1 .section1_item1-box1 {
  border: 1px solid #fff;
  justify-content: space-between;
  padding: 10px 18px;
  border-radius: 100px;
}
.section1 .section1_item1 .section1_item1-box1 p {
  color: #fff;
  font-size: 15px;
}
.section1 .section1_item1 .section1_item1-box1 button {
  background-color: #02897A;
  border: none;
  padding: 15px 25px;
  border-radius: 100px;
}

@media (max-width: 930px) {
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .section1 .section1_item2 img {
    max-width: 450px;
  }
}
@media (max-width: 450px) {
  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .section1 .section1_item1 {
    text-align: center;
  }
  .section1 .section1_item2 img {
    max-width: 300px;
  }
}
.section2 {
  width: 100%;
  background-color: #1F2E35;
  padding: 35px 15px;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
.section2 h1 {
  color: #fff;
  font-family: "Poppins-medium", sans-serif;
  font-size: 30px;
}
.section2 p {
  color: #fff;
  font-family: "Poppins-thin", sans-serif;
  font-size: 18px;
}
.section2 .section2_box {
  padding: 35px 15px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.section2 .section2_box .section2_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 0px 0px 30px 0px;
  border-radius: 5px;
}
.section2 .section2_box .section2_item img {
  border-radius: 5px;
}
.section2 .section2_box .section2_item h1 {
  max-width: 350px;
  color: #1F2E35;
  font-family: "Poppins-medium", sans-serif;
  font-size: 22px;
  margin-left: 10px;
}
.section2 .section2_box .section2_item h4 {
  color: #1F2E35;
  font-family: "Poppins-thin", sans-serif;
  font-size: 10px;
  margin-left: 10px;
}
.section2 span {
  gap: 12px;
  color: #fff;
}

@media (max-width: 350px) {
  .section2 .section2_box .section2_item img {
    max-width: 300px;
  }
}
.section3 {
  width: 100%;
  background-color: #1F2E35;
  padding: 35px 15px;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
.section3 h1 {
  color: #fff;
  font-family: "Poppins-medium", sans-serif;
  font-size: 30px;
}
.section3 p {
  color: #fff;
  font-family: "Poppins-thin", sans-serif;
  font-size: 18px;
}
.section3 .section3_box {
  width: 85%;
  border-radius: 20px;
  border: 1px solid #464646;
  background: #22343D;
  padding: 25px;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
.section3 .section3_box input {
  width: 800px;
  border-radius: 50px;
  padding: 15px;
  border: none;
}
.section3 .section3_box textarea {
  width: 800px;
  padding: 15px;
}
.section3 .section3_box button {
  color: #fff;
  background-color: #02897A;
  border: none;
  border-radius: 50px;
  padding: 20px 50px;
}

@media (max-width: 1000px) {
  .section3 .section3_box input {
    width: 600px;
  }
  .section3 .section3_box textarea {
    width: 600px;
  }
}
@media (max-width: 870px) {
  .section3 img {
    max-width: 700px;
  }
  .section3 .section3_box input {
    width: 600px;
  }
  .section3 .section3_box textarea {
    width: 600px;
  }
}
@media (max-width: 760px) {
  .section3 img {
    max-width: 500px;
  }
  .section3 .section3_box input {
    width: 400px;
  }
  .section3 .section3_box textarea {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .section3 img {
    max-width: 350px;
  }
  .section3 .section3_box input {
    width: 250px;
  }
  .section3 .section3_box textarea {
    width: 250px;
  }
}
@media (max-width: 350px) {
  .section3 img {
    max-width: 250px;
  }
  .section3 .section3_box input {
    width: 180px;
  }
  .section3 .section3_box textarea {
    width: 180px;
  }
}/*# sourceMappingURL=section.css.map */